accelerate @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_accelerate_1761342012/work
addict==2.4.0
aiofiles==23.2.1
aiohappyeyeballs @ file:///home/conda/feedstock_root/build_artifacts/aiohappyeyeballs_1741775197943/work
aiohttp @ file:///Users/runner/miniforge3/conda-bld/aiohttp_1761726726486/work
aiosignal==1.3.1
alembic==1.14.0
aliyun-python-sdk-core==2.15.2
aliyun-python-sdk-kms==2.16.5
annotated-types==0.7.0
antlr4-python3-runtime==4.9.3
anyio @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_anyio_1758634638/work
appdirs==1.4.4
appnope==0.1.4
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
arrow==1.3.0
asgiref==3.8.1
asttokens==2.0.5
async-lru==2.0.5
async-timeout==4.0.3
attrs==23.2.0
babel==2.17.0
backoff==2.2.1
banal==1.0.6
bcrypt==4.2.0
beautifulsoup4==4.12.3
bleach==6.2.0
blinker @ file:///home/conda/feedstock_root/build_artifacts/blinker_1731096409132/work
Brotli @ file:///Users/runner/miniforge3/conda-bld/brotli-split_1761592052300/work
build==1.3.0
cachetools==5.4.0
certifi==2024.2.2
cffi==1.17.0
chardet==5.2.0
charset-normalizer==3.3.2
chroma-hnswlib==0.7.3
chromadb==0.4.13
click==8.1.7
cmake==3.29.3
colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1733218098505/work
coloredlogs==15.0.1
comm==0.2.3
contourpy==1.3.0
crcmod==1.7
cryptography==43.0.0
cycler==0.12.1
dataclasses @ file:///home/conda/feedstock_root/build_artifacts/dataclasses_1628958434797/work
dataclasses-json==0.6.6
dataset==1.6.2
datasets==2.16.0
debugpy==1.6.7
decorator @ file:///home/conda/feedstock_root/build_artifacts/decorator_1740384970518/work
deepdiff==8.0.1
defusedxml==0.7.1
Deprecated==1.2.14
dill==0.3.7
dirtyjson==1.0.8
distro==1.9.0
dnspython==2.6.1
docx2txt==0.8
effdet==0.4.1
email_validator==2.2.0
emoji==2.13.2
environs==9.5.0
et-xmlfile==1.1.0
eval_type_backport==0.2.2
exceptiongroup @ file:///home/conda/feedstock_root/build_artifacts/exceptiongroup_1746947292760/work
executing @ file:///home/conda/feedstock_root/build_artifacts/executing_1756729339227/work
faiss-cpu==1.8.0.post1
fastapi==0.111.1
fastapi-cli==0.0.4
fastjsonschema==2.21.2
ffmpy==0.6.4
filelock==3.14.0
filetype==1.2.0
Flask @ file:///home/conda/feedstock_root/build_artifacts/flask_1755674618058/work
flatbuffers==24.3.25
fonttools==4.54.1
fqdn==1.5.1
frozenlist==1.4.1
fsspec==2023.10.0
gekko==1.2.1
gmpy2 @ file:///Users/runner/miniforge3/conda-bld/gmpy2_1756739693567/work
google-auth==2.32.0
googleapis-common-protos==1.63.2
gradio==4.44.1
gradio_client==1.3.0
greenlet==3.0.3
grpcio==1.76.0
grpcio-tools==1.47.5
h11==0.14.0
h2 @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_h2_1756364871/work
hf-xet @ file:///Users/runner/miniforge3/conda-bld/bld/rattler-build_hf-xet_1761341556/work
hpack @ file:///home/conda/feedstock_root/build_artifacts/hpack_1737618293087/work
html_text==0.6.2
httpcore==1.0.5
httptools==0.7.1
httpx==0.27.0
huggingface_hub @ file:///home/conda/feedstock_root/build_artifacts/huggingface_hub_1761225853865/work
humanfriendly==10.0
hyperframe @ file:///home/conda/feedstock_root/build_artifacts/hyperframe_1737618333194/work
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1760286409563/work
importlib-metadata==7.0.1
importlib_resources==6.5.2
iopath==0.1.10
ipykernel==6.28.0
ipython @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_ipython_1748711175/work
isoduration==20.11.0
itsdangerous @ file:///home/conda/feedstock_root/build_artifacts/itsdangerous_1733308265247/work
jedi==0.18.1
jieba==0.42.1
Jinja2==3.1.4
jiter==0.11.1
jmespath==0.10.0
joblib==1.4.2
json5==0.12.1
jsonpatch==1.33
jsonpath-python==1.0.6
jsonpointer==2.4
jsonschema==4.23.0
jsonschema-specifications==2025.9.1
jupyter-events==0.12.0
jupyter-lsp==2.3.0
jupyter_client @ file:///home/conda/feedstock_root/build_artifacts/jupyter_client_1733440914442/work
jupyter_core @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_jupyter_core_1760643864/work
jupyter_server==2.17.0
jupyter_server_terminals==0.5.3
jupyterlab==4.4.2
jupyterlab_pygments==0.3.0
jupyterlab_server==2.28.0
kiwisolver==1.4.7
kubernetes==30.1.0
langchain==0.2.15
langchain-community==0.2.15
langchain-core==0.2.41
langchain-openai==0.1.23
langchain-text-splitters==0.2.4
langdetect==1.0.9
langsmith==0.1.128
layoutparser==0.3.4
llama-index==0.10.43
llama-index-agent-openai==0.2.9
llama-index-cli==0.1.13
llama-index-core==0.10.43
llama-index-embeddings-openai==0.1.11
llama-index-indices-managed-llama-cloud==0.1.6
llama-index-legacy==0.9.48.post4
llama-index-llms-openai==0.1.22
llama-index-multi-modal-llms-openai==0.1.9
llama-index-program-openai==0.1.6
llama-index-question-gen-openai==0.1.3
llama-index-readers-file==0.1.33
llama-index-readers-llama-parse==0.1.6
llama-parse==0.4.9
llamaindex-py-client==0.1.19
lxml==6.0.2
lxml_html_clean==0.4.3
Mako==1.3.10
markdown-it-py==4.0.0
MarkupSafe==2.1.5
marshmallow==3.26.1
matplotlib==3.9.2
matplotlib-inline @ file:///home/conda/feedstock_root/build_artifacts/matplotlib-inline_1761214490209/work
mdurl==0.1.2
mistune==3.1.4
modelscope==1.16.1
monotonic==1.6
mpmath @ file:///home/conda/feedstock_root/build_artifacts/mpmath_1733302684489/work
multidict @ file:///Users/runner/miniforge3/conda-bld/multidict_1751310647064/work
multiprocess==0.70.15
mypy_extensions==1.1.0
nbclient==0.10.2
nbconvert==7.16.6
nbformat==5.10.4
nest-asyncio==1.6.0
networkx @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_networkx_1731521053/work
nltk==3.9.2
notebook_shim==0.2.4
numpy==1.26.4
oauthlib==3.3.1
olefile==0.47
ollama==0.6.1
omegaconf==2.3.0
onnxruntime==1.15.1
openai==1.43.0
opencv-python==4.11.0.86
opencv-python-headless==4.10.0.84
openpyxl==3.1.2
optimum==1.21.2
optree @ file:///Users/runner/miniforge3/conda-bld/optree_1756812130178/work
orderly-set==5.2.2
orjson==3.11.4
overrides==7.7.0
packaging==24.2
pandas==2.2.2
pandocfilters==1.5.1
parso @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_parso_1755974222/work
pdf2image==1.17.0
pdfminer.six==20221105
pdfplumber==0.10.4
peft==0.12.0
pexpect @ file:///home/conda/feedstock_root/build_artifacts/pexpect_1733301927746/work
pickleshare @ file:///home/conda/feedstock_root/build_artifacts/pickleshare_1733327343728/work
pillow==10.3.0
platformdirs==3.10.0
portalocker==3.2.0
posthog==3.5.0
prometheus_client==0.23.1
prompt_toolkit @ file:///home/conda/feedstock_root/build_artifacts/prompt-toolkit_1756321756983/work
propcache @ file:///Users/runner/miniforge3/conda-bld/propcache_1744524986738/work
protobuf==6.33.0
psutil @ file:///Users/runner/miniforge3/conda-bld/bld/rattler-build_psutil_1762093035/work
ptyprocess @ file:///home/conda/feedstock_root/build_artifacts/ptyprocess_1733302279685/work/dist/ptyprocess-0.7.0-py2.py3-none-any.whl#sha256=92c32ff62b5fd8cf325bec5ab90d7be3d2a8ca8c8a3813ff487a8d2002630d1f
pulsar-client==3.8.0
pure_eval @ file:///home/conda/feedstock_root/build_artifacts/pure_eval_1733569405015/work
pyarrow==22.0.0
pyarrow-hotfix==0.7
pyasn1==0.6.1
pyasn1_modules==0.4.2
pybind11 @ file:///D:/bld/pybind11-split_1747934313674/work
pybind11_global @ file:///home/conda/feedstock_root/build_artifacts/pybind11-split_1747934270866/work
pycocotools==2.0.10
pycparser @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_pycparser_1733195786/work
pydantic==2.9.2
pydantic_core==2.23.4
pydub==0.25.1
Pygments @ file:///home/conda/feedstock_root/build_artifacts/pygments_1750615794071/work
pymilvus==2.6.3
pyparsing==3.1.4
pypdf==4.2.0
pypdfium2==5.0.0
PyPika==0.48.9
pyproject_hooks==1.2.0
PySocks @ file:///home/conda/feedstock_root/build_artifacts/pysocks_1733217236728/work
pytesseract==0.3.13
python-dateutil==2.8.2
python-docx==1.1.2
python-dotenv==1.0.1
python-iso639==2025.2.18
python-json-logger==4.0.0
python-magic==0.4.27
python-multipart==0.0.20
python-oxmsg==0.0.2
pytz==2024.1
PyYAML==6.0.1
pyzmq @ file:///Users/runner/miniforge3/conda-bld/bld/rattler-build_pyzmq_1757387129/work
RapidFuzz==3.14.3
referencing==0.37.0
regex==2024.5.15
requests==2.32.3
requests-oauthlib==2.0.0
requests-toolbelt==1.0.0
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich==13.7.1
rpds-py==0.28.0
rsa==4.9.1
ruff==0.14.3
sacremoses @ file:///home/conda/feedstock_root/build_artifacts/sacremoses_1651557636210/work
safetensors==0.7.0
scikit-learn==1.5.0
scipy==1.13.1
semantic-version==2.10.0
Send2Trash==1.8.3
sentence-transformers==3.0.0
sentencepiece==0.2.1
shapely==2.0.6
shellingham @ file:///home/conda/feedstock_root/build_artifacts/shellingham_1733300899265/work
six @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_six_1753199211/work
sniffio @ file:///home/conda/feedstock_root/build_artifacts/sniffio_1733244044561/work
soupsieve==2.8
SQLAlchemy==1.4.54
stack-data==0.5.1
starlette==0.37.2
striprtf==0.0.26
sympy @ file:///home/conda/feedstock_root/build_artifacts/sympy_1745946051654/work
tabulate==0.9.0
tenacity==8.5.0
terminado==0.18.1
threadpoolctl==3.6.0
tiktoken==0.12.0
timm==1.0.21
tinycss2==1.4.0
tokenizers==0.15.2
tomli==2.3.0
tomlkit==0.12.0
torch @ file:///Users/runner/miniforge3/conda-bld/libtorch_1762088872837/work
tornado @ file:///Users/runner/miniforge3/conda-bld/tornado_1756854937117/work
tqdm==4.66.4
traitlets @ file:///home/conda/feedstock_root/build_artifacts/traitlets_1733367359838/work
transformers==4.36.2
typer==0.20.0
typer-slim==0.20.0
types-python-dateutil==2.9.0.20251008
typing-inspect==0.9.0
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_typing_extensions_1756220668/work
tzdata @ file:///home/conda/feedstock_root/build_artifacts/python-tzdata_1742745135198/work
unstructured==0.15.13
unstructured-client==0.27.0
uri-template==1.3.0
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1750271362675/work
uvicorn==0.32.0
uvloop==0.22.1
watchfiles==1.1.1
wcwidth @ file:///home/conda/feedstock_root/build_artifacts/wcwidth_1758622279606/work
webcolors==25.10.0
webencodings==0.5.1
websocket-client==1.9.0
websockets==12.0
Werkzeug @ file:///home/conda/feedstock_root/build_artifacts/werkzeug_1733160440960/work
wrapt==1.17.3
xgboost==2.1.0
xxhash @ file:///Users/runner/miniforge3/conda-bld/python-xxhash_1759440796241/work
yarl @ file:///Users/runner/miniforge3/conda-bld/yarl_1761336948342/work
zipp @ file:///home/conda/feedstock_root/build_artifacts/zipp_1749421620841/work
zstandard==0.25.0
